
<div class="col-sm-6 centered">
  <div class="col-sm-6 centered">
      <div class="flex-btn">
        <%= link_to 'Products', products_path, class: "nav-link active"%>
      </div>
  </div>
  <div class="col-sm-6 centered">
      <div class="flex-btn">
        <%= link_to 'Insert Product', new_product_path, class: "nav-link active"%>
      </div>
  </div>
  <div class="col-sm-6 centered">
      <div class="flex-btn">
        <%= link_to 'Sign in Client', client_session_path, class: "nav-link active"%>
      </div>
  </div>
  <div class="col-sm-6 centered">
    <div class="flex-btn">
      <%= link_to 'Sign in Admin', admin_session_path, class: "nav-link active"%>
    </div>
  </div>
</div>